body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-poppins: Poppins;
    --font-inter: Inter;
  
    /* font sizes */
    --font-size-13xl: 32px;
    --font-size-lgi: 19px;
    --font-size-7xl: 26px;
    --font-size-26xl: 45px;
    --font-size-8xl: 27px;
    --font-size-17xl: 36px;
    --font-size-51xl: 70px;
    --font-size-23xl: 42px;
    --font-size-37xl: 56px;
    --font-size-21xl: 40px;
    --font-size-5xl: 24px;
    --font-size-xl: 20px;
    --font-size-6xl: 25px;
    --font-size-16xl: 35px;
    --font-size-11xl: 30px;
    --font-size-lg: 18px;
  
    /* Colors */
    --color-white: #fff;
    --color-black: #000;
    --color-limegreen-100: #82f96f;
    --color-limegreen-200: #15af02;
    --color-gray-100: #0e0e0e;
    --color-gray-200: rgba(0, 0, 0, 0.57);
  
    /* Gaps */
    --gap-xl: 20px;
    --gap-7xl: 26px;
    --gap-19xl: 38px;
    --gap-lgi: 19px;
    --gap-13xl: 32px;
    --gap-base: 16px;
    --gap-29xl: 48px;
    --gap-5xl: 24px;
    --gap-24xl-6: 43.6px;
    --gap-3xl: 22px;
  
    /* Paddings */
    --padding-42xl: 61px;
    --padding-7xs: 6px;
    --padding-xl: 20px;
    --padding-70xl: 89px;
    --padding-159xl: 178px;
    --padding-9xs: 4px;
    --padding-10xs: 3px;
    --padding-11xs: 2px;
    --padding-7xl: 26px;
    --padding-26xl: 45px;
    --padding-71xl: 90px;
    --padding-20xl: 39px;
    --padding-6xs: 7px;
    --padding-lg: 18px;
    --padding-23xl: 42px;
    --padding-xs: 12px;
    --padding-smi: 13px;
    --padding-2xs: 11px;
    --padding-18xl: 37px;
    --padding-3xs: 10px;
    --padding-9xl: 28px;
  
    /* Border radiuses */
    --br-xl: 20px;
    --br-11xl: 30px;
  }
  