.App2Item{
  width:40px;
  height:100px;
}
.cropcareconnect {
  position: absolute;
  top: 70px;
  left: 21px;
  font-size: 100;
  font-weight: 600;
  color: white;
  text-align: center;
  display: inline-block;
  width: 350px;
  height: 36px;
}
.rental {
  margin: 0;
}
.rentalServices {
  position: absolute;
  top: 2913px;
  left: 46px;
  font-size: 100;
  font-weight: 600;
  color: white;
  text-align: center;
  display: inline-block;
  width: 351px;
  height: 36px;
}
.rectangleDiv {
  position: absolute;
  top: 226px;
  left: 0;
  background-color: green;
  width: 1754px;
  height: 100px;
}

.contactUs,
.home,
.library,
.news {
  position: absolute;
  top: 255px;
  left: 7px;
  font-size: 100;
  color: white;
  text-align: center;
  display: inline-block;
  width: 217px;
  height: 54px;
}
.contactUs,
.library,
.news {
  top: 259px;
  left: 213px;
}
.contactUs,
.news {
  top: 257px;
  left: 647px;
}
.contactUs {
  left: 446px;
}
.vectorIcon {
  position: absolute;
  height: 61.54%;
  width: 10.5%;
  top: 0;
  right: 35.43%;
  bottom: 38.46%;
  left: 54.07%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.loginRegister {
  position: absolute;
  height: 89.23%;
  width: 78.74%;
  top: 10.77%;
  left: 0;
  display: inline-block;
}
.component2Child {
  position: absolute;
  height: 23.08%;
  width: 3.94%;
  top: 20%;
  right: 36.75%;
  bottom: 56.92%;
  left: 59.32%;
  border-radius: 50%;
  background-color: green;
}
.yourCart {
  position: absolute;
  height: 67.69%;
  width: 32.02%;
  top: 12.31%;
  left: 67.98%;
  font-size: 100;
  display: inline-block;
  font-weight: 500;
  color: white;
}
.component2 {
  position: absolute;
  top: 71px;
  left: 1339px;
  width: 381px;
  height: 65px;
  font-size: 100;
}
.component1Child,
.component1Item {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.component1Child {
  width: 93.82%;
  right: 6.18%;
  left: 0;
  border-radius: 2px;
  background-color:green;
  border: 3px solid black;
  box-sizing: border-box;
}
.component1Item {
  width: 23.19%;
  right: 0;
  left: 76.81%;
  border-radius:2px;
  background-color: green;
}
.search {
  position: absolute;
  height: 57.14%;
  width: 15.93%;
  top: 19.05%;
  left: 79.67%;
  font-size: 100;
  text-align: center;
  display: inline-block;
}
.allCategories,
.searchProduct {
  position: absolute;
  height: 52.38%;
  width: 30.8%;
  top: 30.16%;
  left: 3.33%;
  color: white;
  display: inline-block;
}
.allCategories {
  height: 46.03%;
  width: 17.48%;
  top: 28.57%;
  left: 53.75%;
  color: var(--color-gray-500);
}
.component1Inner {
  position: absolute;
  height: 26.98%;
  width: 2.02%;
  top: 33.33%;
  right: 26.75%;
  bottom: 39.68%;
  left: 71.22%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.lineDiv {
  position: absolute;
  height: 41.27%;
  width: 0.12%;
  top: 27.78%;
  right: 48.34%;
  bottom: 30.95%;
  left: 51.55%;
  border-right: 1px solid var(--color-gray-500);
  box-sizing: border-box;
}
.component1 {
  position: absolute;
  top: 61px;
  left: 387px;
  width: 841px;
  height: 63px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-200);
}
.introducingTheNew {
  margin: 0;
  font-size: var(--font-size-51xl);
}
.introducingTheNewContainer {
  position: absolute;
  height: 38.75%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  font-weight: 700;
}
.blankLine3 {
  margin: 0;
  font-size: var(--font-size-5xl);
}
.introducingTheNewContainer1 {
  position: absolute;
  height: 38.75%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  font-weight: 700;
  font-size: var(--font-size-51xl);
}
.unmatchedPerformanceInContainer {
  position: absolute;
  height: 18.2%;
  width: 75.71%;
  top: 44.03%;
  left: 0;
  font-size: var(--font-size-16xl);
  display: inline-block;
  font-weight: 600;
}
.groupChild {
  position: absolute;
  height: 100%;
  width: 99.76%;
  top: 0;
  right: 0.24%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--color-forestgreen-200);
}
.shopNow {
  position: absolute;
  height: 54.37%;
  width: 74.29%;
  top: 27.18%;
  left: 25.71%;
  display: inline-block;
  font-weight: 800;
  white-space: pre-wrap;
}
.rectangleParent {
  position: absolute;
  height: 20.16%;
  width: 55.06%;
  top: 67.12%;
  right: 44.94%;
  bottom: 12.72%;
  left: 0;
  font-size: var(--font-size-18xl);
  color: var(--color-white);
}
.component3 {
  position: absolute;
  top: 491px;
  left: 169px;
  width: 770px;
  height: 511px;
  font-size: var(--font-size-5xl);
}
.crops,
.pesticidesRelatedToContainer,
.popularTools {
  position: absolute;
  height: 5.83%;
  width: 43.73%;
  top: 14.46%;
  left: 9.09%;
  display: inline-block;
  font-weight: 700;
  font-size: var(--font-size-51xl);
}
.crops,
.popularTools {
  height: 3.14%;
  width: 38.27%;
  top: 40.29%;
  left: 30.49%;
  font-weight: 500;
}
.crops {
  top: 58.73%;
  left: 1.31%;
}
.laptops {
  width: 11.5%;
  left: 0;
}
.cameras,
.headphones,
.laptops,
.smartWatches,
.smartphones,
.tablets {
  position: absolute;
  height: 91.3%;
  top: 0;
  display: inline-block;
  font-weight: 500;
}
.smartphones {
  width: 19.75%;
  left: 12.69%;
  white-space: pre-wrap;
}
.cameras,
.headphones,
.smartWatches,
.tablets {
  width: 16.22%;
  left: 33.64%;
}
.headphones,
.smartWatches,
.tablets {
  width: 21.17%;
  left: 48.83%;
  display: none;
}
.smartWatches,
.tablets {
  height: 100%;
  width: 21.57%;
  left: 78.43%;
}
.tablets {
  width: 11.95%;
  left: 67.05%;
}
.component9 {
  position: absolute;
  top: 1850px;
  left: 43px;
  width: 1757px;
  height: 69px;
}
.maize,
.paddy,
.tobacco,
.wheat1 {
  position: absolute;
  height: 1.87%;
  width: 11.47%;
  top: 77.2%;
  left: 5.28%;
  display: inline-block;
  font-weight: 500;
}
.maize,
.paddy,
.tobacco {
  width: 14.82%;
  top: 77.33%;
  left: 84.04%;
}
.maize,
.paddy {
  width: 15.39%;
  top: 77.46%;
  left: 59.68%;
}
.paddy {
  width: 11.47%;
  top: 77.2%;
  left: 31.46%;
}
.component4Icon,
.component5Icon {
  position: absolute;
  width: 81px;
  height: 81px;
}
.component5Icon {
  top: 740.4px;
  left: 1605.4px;
  object-fit: contain;
}
.component4Icon {
  top: 728px;
  left: 58px;
}
.freeShipping1 {
  white-space: pre-wrap;
}
.span {
  font-size: var(--font-size-6xl);
}
.freeShipping {
  position: absolute;
  top: 0;
  left: 125px;
  display: inline-block;
  width: 167px;
  height: 95px;
}
.freeShippingIcon {
  position: absolute;
  top: 9px;
  left: 0;
  width: 125px;
  height: 75px;
  object-fit: cover;
}
.freeShippingParent {
  position: absolute;
  top: 1156px;
  left: 211px;
  width: 292px;
  height: 95px;
  font-size: var(--font-size-21xl);
}
.paymentMethod {
  position: absolute;
  height: 95.56%;
  width: 48.72%;
  top: 11.11%;
  left: 27.3%;
  display: inline-block;
}
.keepassIcon {
  position: absolute;
  height: 83.33%;
  width: 31.89%;
  top: 12.22%;
  right: 71.68%;
  bottom: 4.44%;
  left: -3.57%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component8 {
  position: absolute;
  top: 1149px;
  left: 819px;
  width: 392px;
  height: 90px;
  font-size: var(--font-size-21xl);
}
.onlineSupport {
  position: absolute;
  height: 100%;
  width: 75.82%;
  top: 4.65%;
  left: 32.42%;
  display: inline-block;
}
.onlineSupportIcon {
  position: absolute;
  height: 87.21%;
  width: 34.34%;
  top: 12.79%;
  right: 64.56%;
  bottom: 0;
  left: 1.1%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component {
  position: absolute;
  top: 1149px;
  left: 1082px;
  width: 364px;
  height: 86px;
  font-size: var(--font-size-21xl);
}
.fastDelivery {
  position: absolute;
  height: 100%;
  width: 66.47%;
  top: 0;
  left: 33.53%;
  display: inline-block;
}
.deliveryTimeIcon {
  position: absolute;
  height: 87.21%;
  width: 37.43%;
  top: 3.49%;
  right: 63.77%;
  bottom: 9.3%;
  left: -1.2%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component6 {
  position: absolute;
  top: 1153px;
  left: 1352px;
  width: 334px;
  height: 86px;
  font-size: var(--font-size-21xl);
}

.views1 {
  color: var(--color-black);
}
.span1 {
  color: var(--color-red);
}
.views {
  position: absolute;
  left: 254px;
  display: inline-block;
}
.views,
.views2,
.views4 {
  top: 2683px;
  font-size: var(--font-size-13xl);
  font-weight: 500;
  width: 186px;
  height: 38px;
  color: var(--color-crimson);
}
.views2 {
  position: absolute;
  left: 740px;
  display: inline-block;
}
.views4 {
  left: 1180px;
}
.product,
.views4,
.views6 {
  position: absolute;
  display: inline-block;
}
.views6 {
  top: 2683px;
  left: 1614px;
  font-size: var(--font-size-13xl);
  font-weight: 500;
  width: 186px;
  height: 38px;
  color: var(--color-crimson);
}
.product {
  top: 2900px;
  left: 467px;
  font-size: var(--font-size-31xl);
  font-weight: 600;
  text-align: center;
  width: 472px;
  height: 104px;
}
.tractor {
  font-weight: 500;
  color: var(--color-darkgray);
}
.headphones1,
.smartphones1,
.tablets1,
.watches {
  position: absolute;
  height: 23.81%;
  width: 90.42%;
  left: 9.58%;
  display: none;
}
.smartphones1 {
  top: 0;
  font-size: var(--font-size-31xl);
  text-shadow: 1px 0 0#dcd5d5, 0 1px 0#dcd5d5, -1px 0 0#dcd5d5, 0-1px 0#dcd5d5;
  color: var(--color-black);
}
.headphones1,
.tablets1,
.watches {
  top: 21.43%;
  font-weight: 600;
}
.tablets1,
.watches {
  top: 39.68%;
  left: 7.28%;
}
.tablets1 {
  top: 76.19%;
  left: 0;
  font-size: var(--font-size-21xl);
  white-space: pre-wrap;
}
.shovel {
  color: var(--color-darkgray);
}
.camera {
  position: absolute;
  height: 23.81%;
  width: 90.42%;
  top: 57.54%;
  left: 0.38%;
  font-size: var(--font-size-21xl);
  font-weight: 600;
  display: none;
  color: var(--color-black);
}
.component10 {
  position: absolute;
  top: 3135px;
  left: 347px;
  width: 522px;
  height: 252px;
  text-align: center;
  color: var(--color-darkgray);
}
.faq,
.shipping {
  position: absolute;
  height: 52.63%;
  width: 90.94%;
  top: 0;
  left: 0;
  display: inline-block;
}
.shipping {
  top: 47.37%;
  left: 9.06%;
}
.component11 {
  position: absolute;
  top: 2985px;
  left: 771px;
  width: 519px;
  height: 114px;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-darkgray);
}
.moneyGuarantee {
  position: absolute;
  top: 0;
  left: 115px;
  display: inline-block;
  width: 273px;
  height: 95px;
}
.walletIcon {
  position: absolute;
  top: 5px;
  left: 0;
  width: 125px;
  height: 75px;
  object-fit: cover;
}
.moneyGuaranteeParent {
  position: absolute;
  top: 1144px;
  left: 493px;
  width: 388px;
  height: 95px;
  font-size: var(--font-size-21xl);
}
.aboutUs {
  margin: 0;
  font-weight: 500;
}
.about,
.contactUsAboutContainer,
.help {
  position: absolute;
  text-align: center;
  display: inline-block;
}
.contactUsAboutContainer {
  top: 2988px;
  left: 1128px;
  font-size: var(--font-size-21xl);
  color: var(--color-darkgray);
  width: 480px;
  height: 268px;
}
.about,
.help {
  top: 2893px;
  left: 801px;
  font-size: var(--font-size-31xl);
  font-weight: 600;
  width: 472px;
  height: 104px;
}
.about {
  top: 2890px;
  left: 1111px;
}
.harrows,
.plough,
.seedMachine,
.sickle {
  position: absolute;
  height: 1.86%;
  width: 23.51%;
  top: 54.48%;
  left: 33.84%;
  display: inline-block;
  font-weight: 500;
}
.harrows,
.plough,
.sickle {
  left: 56.62%;
}
.harrows,
.plough {
  left: 74.39%;
}
.plough {
  left: 88.87%;
}

.seedMachine1,
.sickle1 {
  position: absolute;
  height: 1.77%;
  width: 26.8%;
  font-weight: 600;
  color: var(--color-darkgray);
  text-align: center;
  display: inline-block;
}
.seedMachine1 {
  top: 92.23%;
  left: 25.5%;
  font-size: var(--font-size-21xl);
}
.sickle1 {
  top: 89.75%;
  left: 24.82%;
}
.shovel1,
.sickle1,
.tractor2 {
  font-size: var(--font-size-21xl);
}
.shovel1 {
  position: absolute;
  height: 1.77%;
  width: 26.8%;
  top: 88.25%;
  left: 23.79%;
  font-weight: 600;
  text-align: center;
  display: inline-block;
}
.tractor2 {
  color: var(--color-darkgray);
}
.tractor1 {
  position: absolute;
  width: 26.8%;
  top: 90.87%;
  left: 23.4%;
  text-align: center;
  display: inline-block;
  text-shadow: 1px 0 0#dcd5d5, 0 1px 0#dcd5d5, -1px 0 0#dcd5d5, 0-1px 0#dcd5d5;
  font-size: var(--font-size-31xl);
}
